@model notelohell.Models.UsersModel
@{
    ViewBag.Title = "Registro";
}

<div class="container">
    <div class="form-group">
        <div class="form-horizontal">
            <form action="/Users/Registro/" method="POST">
                @Html.AntiForgeryToken()
                <div id="nameGroup" class="form-group">
                    <h2>Registro</h2>
                    <label for="nome_reg">Nome:</label>
                    <input type="text" id="nome_reg" name="user.Nome" class="form-control" />
                    <span id="nameGroupError" class="help-block hide"></span>
                    @Html.ValidationMessageFor(x => x.Nome, "", new { Class = "error-fus" })
                </div>
                    <br />
                <div id="mailGroup" class="form-group">
                    <label for="email_reg">E-mail:</label>
                    <input type="email" id="email_reg" name="user.Email" class="form-control" />
                    <span id="mailGroupError" class="help-block hide"></span>
                    @Html.ValidationMessageFor(x => x.Email,"",new { Class = "error-fus" })
                </div>
                    <br />
                <div id="tagGroup" class="form-group">
                    <label for="gametag_reg">Gametag:</label>
                    <input type="text" id="gametag_reg" name="gameTag" class="form-control" />
                    <span id="tagGroupError" class="help-block hide"></span>
                    @Html.ValidationMessageFor(x => x.GameTag, "", new { Class = "error-fus" })
                </div>
                    <br />
                <div id="birthGroup" class="form-group">
                    <label for="birth_reg">Data de Nascimento</label>
                    <input type="text" maxlength="10" id="birth_reg"  name="birthDate" class="form-control" />
                    <span id="birthGroupError" class="help-block hide"></span>
                    @Html.ValidationMessageFor(x => x.BirthDate, "", new { Class = "error-fus" })
                </div>
                <div id="pwGroup" class="form-group">
                    <label for="pass_reg">Senha:</label>
                    <input type="password" id="pass_reg"  class="form-control" />
                    <br />
                    <label for="passConf_reg">Confirme a senha:</label>
                    <input type="password" id="passConf_reg" name="Pwsin"  class="form-control" />
                    <span id="pwGroupError" class="help-block hide"></span>
                    @Html.ValidationMessageFor(x => x.Pwsin, "", new { Class = "error-fus" })
                    <br />
                    <input type="submit" class="btn btn-default" id="btn_registrar" value="Registrar" />
                </div>
            </form>
        </div>
        <script type="text/javascript" src="~/Scripts/General/UsersValidations.js"></script>
    </div>
</div>
