@{
    ViewBag.Title = "TaskUser";
}
<style>
    .list-main {

    } 
    .list-view li {
        border: 3px solid black;
        border-radius: 18px;
        background-color: #fcffff;
        padding: 15px;
        margin: 10px;
        text-decoration: none;
        list-style: none;
    }
    #panel-task{
        margin: 5px;
    }
    .task-fixed{
        position: absolute;
        padding-top: 6px;
        padding-left: 15px;
    }
    .box-task {
        border: 3px solid black;
        border-radius: 18px;
        background-color: #fcffff;
        padding: 15px;
        margin-left: 35px;
    }
    .comp {
        color: #9fe700;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
<div class="container">
    <h2>Minhas Tarefas</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="list-main">
                <ul class="list-view sort-derp">
                    @if (ViewBag.Task != null)
                    {
                        foreach (var t in ViewBag.Task)
                        {
                            var st = t.Complete ? "comp" : "";
                            <li id="@t.Nome.Replace(" ", "_")"><i class="task-marker fa fa-2x fa-check @st"></i><e class="task-fixed"> @t.Nome</e></li>
                        }
                    }
                </ul>
                <input id="addTk" type="button"style="margin: 10px;" class="btn btn-default" value="Adicionar Tarefa" />
            </div>
        </div>
        <div id="panel-task" class="col-md-12 hide">
            <div class="box-task">
                <!-- Inserir Nome, desc, comentários, etc... -->
                <input type="text" id="nameTaskOld" class="hidden" />
                <div class="col-md-8">
                    <i class="fa fa-2x fa-check stTask"> </i>
                </div>
                <div class="col-md-4 form-inline">
                    <label for="dataTask">Até:&nbsp;</label><input type="text" id="dataTask" style="max-width: 250px;" class="form-control" />
                    <i class="fa fa-2x fa-trash" style="position:absolute; padding-top:2px; padding-left: 30px;" aria-hidden="true"></i>
                </div>
                <br />
                <br />
                <input type="text" id="nameTask" class="form-control" value="Nova Tarefa" />
                <br />
                <textarea class="form-control" id="descTask" placeholder="Descrição..."></textarea>
                <br />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".sort-derp").sortable();

            $("#addTk").on("click", function () {
                $(".list-view").append("<li><i class='fa fa-2x fa-check'> </i><e class='task-fixed newLife'> Nova Tarefa<e/></li>");
                SaveData({ Order: $(".list-view").find("li").length - 1 });
                FinalCall();
            });

            $("#dataTask").on("blur", function (event) {
                ObjMakerTask(document.getElementById("nameTask").value, $(".stTask").hasClass("comp"), true, LoaderIndicator());
            });

            $("#nameTask").on("blur", function (event) {
                var nameTaskNew = document.getElementById("nameTask").value;
                if (nameTaskNew === "" || typeof nameTaskNew === 'undefined')
                    return;
                ObjMakerTask(document.getElementById("nameTask").value, $(".stTask").hasClass("comp"), true, LoaderIndicator());
                var nameTaskOld = document.getElementById("nameTaskOld").value;
                var taskFinal = $("#" + nameTaskOld.replace(/ /g, "_")).find("e").first();
                taskFinal.html(nameTaskNew);
                $("#" + nameTaskOld.replace(/ /g, "_"))[0].id = nameTaskNew.replace(/ /g, "_");
                
            });

            $("#descTask").on("blur", function (event) {
                ObjMakerTask(document.getElementById("nameTask").value, $(".stTask").hasClass("comp"), true, LoaderIndicator());
            });

            $(".fa-check").on("click", function (event) {
                var e = event;
                var taskNameNew;
                if (!$(e.currentTarget).hasClass("comp"))
                    $(e.currentTarget).addClass("comp");
                else
                    $(e.currentTarget).removeClass("comp");

                if ($(e.currentTarget).hasClass("task-marker")) {
                    var el = $(e.currentTarget).parents("li").first();//.find("e");
                    taskNameNew = el.first().text();
                    if (document.getElementById("nameTask").value.trim() === taskNameNew) {
                        if (!$(".stTask").hasClass("comp") && $(e.currentTarget).hasClass("comp"))
                            $(".stTask").addClass("comp");
                        else
                            $(".stTask").removeClass("comp");
                    }    
                }
                else {
                    taskNameNew = document.getElementById("nameTask").value;
                }

                ObjMakerTask(taskNameNew, $(".stTask").hasClass("comp")||$(".task-marker").hasClass("comp"), true, LoaderIndicator());
            });

            $(".fa-trash").on("click", function (event) {
                var e = event;
                if (document.getElementById("nameTask").value !== typeof "undefined")
                    SeekAndDestroy(document.getElementById("nameTask").value);
            });

            FinalCall();
        });

        function FinalCall(name) {
            $(".task-fixed").on("click", function (event) {
                var panelTask = $("#panel-task");
                var e = event;
                if (!panelTask.hasClass("hide"))
                    panelTask.addClass("hide");
                //exibir dados
                var targetName = e.currentTarget.textContent.trim();
                if (typeof name !== 'null' && typeof name !== 'undefined')
                    targetName = name;
                GetData(targetName);
                panelTask.removeClass("hide");
            });

            if (typeof name !== 'null' && typeof name !== 'undefined')
                $(".task-fixed").click();

        }

        function LoaderIndicator() {
            return null;
        }

        function ObjMakerTask(nameTask, status, modAll, backtome) {

            if (typeof nameTask === 'undefined' || nameTask === "") {
                return;
            }

            var objftw = {
                "Nome": nameTask,
                "Complete": status,
                "Desc": modAll ? document.getElementById("descTask").value : null,
                "Data": modAll ? document.getElementById("dataTask").value : null,
                "nome_old": modAll ? document.getElementById("nameTaskOld").value : null
            };
            ChangeData(objftw, backtome);
        }

        function GetData(nameTask) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SearchTask", "TaskUser")",
                data: JSON.stringify({ nome: nameTask }),
                contentType: "application/json",
                success: function (data) { LoadTask(data) },
                error: LoadTask()
            });
        }

        function SeekAndDestroy(taskName) {
            $.ajax({
            type: "POST",
            url: "@Url.Action("SeekAndDestroy", "TaskUser")",
            data: JSON.stringify({ nome: taskName }),
            contentType: "application/json",
            success: function (data) { location.reload(); },
            error: LoadTask()
        });
        }

        function LoadTask(data) {
            if (typeof data !== "undefined") {
                document.getElementById("nameTask").value = data.Nome;
                document.getElementById("nameTaskOld").value = data.Nome;
                document.getElementById("descTask").value = data.Desc;
                document.getElementById("dataTask").value = data.Data;
                if (data.Complete)
                    $(".stTask").addClass("comp");
            }
        }

        function ChangeData(tasksUser, backtome) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeTask", "TaskUser")",
                data: JSON.stringify(tasksUser),
                contentType: "application/json",
                dataType: "json",
                success: function (data) { document.getElementById("nameTaskOld").value = document.getElementById("nameTask").value; },
                error: null
            });
        }

        function SaveData(tasksUser) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("newTask", "TaskUser")",
                data: JSON.stringify(tasksUser),
                contentType: "application/json",
                dataType: "json",
                success: function (data)
                {
                    if (typeof data.Nome !== "null" && typeof data.Nome !== "undefined") {
                        $(".newLife").html(data.Nome);
                    }
                    $(".newLife").removeClass("newLife");
                    FinalCall(data.Nome);
                },
                error: null
            });
        }

        function RetNome(newnome) {
            if (typeof newnome !== "null" && typeof newnome !== "undefined") {
                $(".newLife").val(newnome);
                $(".newLife").removeClass(".newLife");
            }
        }
    </script>
</div>