@model notelohell.Models.UsersModel
@{
    ViewBag.Title = "BeholderUser";
}

<div class="container">
    <h2>Seus Dados</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <img src="" />
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-horizontal">
                    <label for="nome_Behold">Nome:</label><input type="text" class="form-control" id="nome_Behold" value="@Model.Nome" readonly /><br />
                    <label for="tag_Behold">Tag:</label><input type="text" class="form-control" id="tag_Behold" value="@Model.GameTag" readonly /><br />
                    <label for="E-mail_Behold">E-mail:</label><input type="text"class="form-control" id="email_Behold" value="@Model.Email" readonly /><br />
                    <label for="Birth_Behold">Data de Nascimento:</label><input type="text" class="form-control" id="birth_Behold" value="@Model.BirthDate.ToString("dd/MM/yyyy")" readonly /><br />
                    <label for="Senha_Behold">Senha:</label><input type="password" class="form-control" id="pw_Behold" value="gofuckyourself"readonly /><br />
                    @Html.ActionLink("Alterar Dados Cadastrais", "ChangeUser", "Auth", new { Class = "btn btn-primary" }) &nbsp;
                    @Html.ActionLink("Alterar Senha", "ChangePass", "Auth", new { Class = "btn btn-primary" })
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

