@model notelohell.Models.UsersModel
@{
    ViewBag.Title = "BeholderUser";
}

<div class="modal fade" id="modDisable" tabindex="-1" role="dialog" aria-labelledby="lbModalDesat">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lbModalDesat">Desativação de Conta.</h4>
            </div>
            <div class="modal-body">
                <h4>Deseja realmente desativar a sua conta?</h4>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Desativar Conta", "Desativar", "Users", null, new { Class = "btn btn-danger", id = "disable_pop" })
                <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>Seus Dados</h2>
    <div class="container-fluid">
        <div class="row">
            
            @if (!string.IsNullOrEmpty((string)TempData["ErrorALT"] ?? ""))
            {
                <script type="text/javascript">
                    setTimeout(function () { $("#info-suc").hide('slow');  }, 5000);
                </script>
                <div id="info-suc" class="alert alert-success">@TempData["ErrorALT"]</div>
            }

            <div class="col-xs-12 col-md-6">
                <img src="" />
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-horizontal">
                    <label for="nome_Behold">Nome:</label><input type="text" class="form-control" id="nome_Behold" value="@Model.Nome" readonly /><br />
                    <label for="tag_Behold">Tag:</label><input type="text" class="form-control" id="tag_Behold" value="@Model.GameTag" readonly /><br />
                    <label for="E-mail_Behold">E-mail:</label><input type="text"class="form-control" id="email_Behold" value="@Model.Email" readonly /><br />
                    <label for="Birth_Behold">Data de Nascimento:</label><input type="text" class="form-control" id="birth_Behold" value="@Model.BirthDate.ToString("dd/MM/yyyy")" readonly /><br />
                    <label for="Senha_Behold">Senha:</label><input type="password" class="form-control" id="pw_Behold" value="gofuckyourself"readonly /><br />
                    @Html.ActionLink("Alterar Dados Cadastrais", "ChangeUser", "Users",null, new { Class = "btn btn-primary" }) &nbsp;
                    @Html.ActionLink("Alterar Senha", "ChangePass", "Users", null, new { Class = "btn btn-primary" }) &nbsp;
                    <button id="modalDesat" class="btn btn-danger">Desativar Conta</button>
                </div>
                <br />
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#modalDesat").on("click", function () {
                    $("#modDisable").modal("toggle");
                });
            });
        </script>
    </div>
</div>

